name: qr-menu-cicd

on:
  push:
      branches: ["main"]
      
jobs:
  test:
    runs-on: ubuntu-20.04
    
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
      - name: Setup node.js 18.12.1
        uses: actions/setup-node@v3
        with: 
          node-version: 18.12.1
          registry-url: https://npm.pkg.github.com/
      - run: npm install
      - run: npm run test
  build:
    needs: test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
      - name: Set up docker build
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to ghcr
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.QR_MENU_GHCR_TOKEN }}
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:latest
        
        
        
