name: qr-menu-cicd

on:
  push:
      branches: ["main"]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  DOCKER_CONTAINER: qr-menu

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
      - name: Setup node.js 18.12.1
        uses: actions/setup-node@v3
        with: 
          node-version: 18.12.1
          registry-url: https://npm.pkg.github.com/
      - run: npm install
      - run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
      - name: Set up docker build
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to ghcr
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.QR_MENU_GHCR_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
  deploy:
    needs: build
    runs-on: [self-hosted, label-qr-menu]
    steps:
      - name: Login to ghcr
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.QR_MENU_GHCR_TOKEN }}
      - name: Run docker
        run:
          docker stop ${{ env.DOCKER_CONTAINER }}
      - name: test1
        run:
          docker rm ${{ env.DOCKER_CONTAINER }}
      - name: test1
        run:
          docker rmi ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
      - name: test1
        run: 
          docker run --name ${{ env.DOCKER_CONTAINER }} -d -p 80:3000 --restart always ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
        
        
